header {
    background-color:white;
    height: 70px;
    width: 100%;
    border-bottom: 1px #CCCCCC solid;
} 

header .logo_hbnb {
    margin-left: 16px;
    width: 140px;
    height: 54px;
    background-image: url(../images/logo.png);
}