.filters {
    background-color: white;
    display: flex;
    align-items: center;
    position: relative;
    height: 70px;
    width: 100%;
    border: 1px #DDDDDD solid;
    border-radius: 4px
    
}

.filters button{
    right: 38px;
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: 0px;
    border-radius: 4px;
    position: absolute;
}

section.filters button:hover {
    opacity: 90%;
}

.locations, .amenities{
    height: 100%;
    width: 25%;
    padding-left: 50px;
    
}

.locations{
    border-right: #DDDDDD 1px solid;
}

.locations h3, .amenities h3{
    font-weight: 600;
    margin: 15px 0 5px 0;
}

.locations h4, .amenities h4{
    font-weight: 400;
    font-size: 14px;
    margin: 0 0 0 0;
    
}

.popover{
    background-color: #FAFAFA;
    border: #DDDDDD 1px solid;
    border-radius: 4px;
    width: 100%;
    left: -51px;
    padding: 35px 51px 25px 0;
    display: none;
    position: relative;
}

.amenities:hover .popover {
    align-items: center;
    display: block;
    
}

.locations:hover .popover {
    display: block;
}

.popover, .popover ul{
    list-style-type: none;

}

.popover h2 {
    margin-top: 0px;
    margin-bottom: 5px;
}

.locations .popover li {
    margin-left: 35px;
    margin-bottom: 35px;
}

.amenities .popover li {
    margin-left: 35px;
    margin-bottom: 10px;
}

.locations .popover li ul {
    padding-left: 0px;
}

.locations .popover li ul li {
    margin-bottom: 5px;
}
