.places {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.places h1 {
    padding-left: 20px;
    padding-top: 10px;
    font-size: 30px;
    flex: 0 0 101%;
}
.places article {
    width: 390px;
    padding: 20px 20px 20px 20px;
    margin: 20px 20px 20px 20px;
    border: 1px #FF5A5F solid;
    border-radius: 4px;
}

.places article h2 {
    font-size: 30px;
    display: flex;
    justify-content: center;
}